<form @click.stop.prevent="sendMessage">
<md-list class="md-dense">
  <md-list-item>
    <md-switch v-model="bikes">Bike Stations</md-switch>
  </md-list-item>
  <md-list-item>
    <md-switch v-model="bikepaths">Bike Paths</md-switch>
  </md-list-item>
  <md-list-item>
    <md-switch v-model="restaurants">Restaurants</md-switch>
  </md-list-item>
  <md-list-item>
    <md-switch v-model="parks">Parks</md-switch>
  </md-list-item>
  <md-list-item>
    <md-switch v-model="busstops">Bus Stops</md-switch>
  </md-list-item>
</md-list>
</form>