<form @click.stop.prevent="sendMessage">
<md-list class="md-dense">
  <md-list-item>
    <md-switch v-model="bikes" id="my-test0" name="my-test0">Bike Station</md-switch>
  </md-list-item>
  <md-list-item>
    <md-switch v-model="restaurants" id="my-test0" name="my-test0">Restaurants</md-switch>
  </md-list-item>
  <md-list-item>
    <md-switch v-model="parks" id="my-test0" name="my-test0">Parks</md-switch>
  </md-list-item>
  <md-list-item>
    <md-switch v-model="busstops" id="my-test0" name="my-test0">Bus Stops</md-switch>
  </md-list-item>
</md-list>
</form>